.input-block {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  // height: 20%;
  // margin: 0;
}
.input-block.MuiContainer-root {
  max-width: 100%;
  // width: 100%;
}