* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #C5E9FF;
}

.header-page {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  height: 20%;
}

.header-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-text > .text {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 3rem;
}

#root > .App {
  padding: 0;
  margin: 0;
}

.signup-block {
  background: white;
  border-radius: 25px;
  padding-top: 5%;
}

.signup-block.auth {
  padding-top: 8%;
}

.start-page.MuiContainer-root {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}

.App.MuiContainer-root {

  display: flex;
  flex-direction: column;
}
